@use "../../../styles.scss" as v;

.main {
  margin: 1em auto;
  border-radius: 8px;
  border: 2px solid map-get(v.$colors, "balance");
  padding: 1.5em;
}
.balance {
  margin: 0 0 2em 0;
}
.balance h4,
.balance p {
  display: flex;
  justify-content: center;
  color: map-get(v.$colors, "balance");
}
.balance p,
.income p,
.expenses p {
  font-family: v.$font-family;
  font-weight: 500;
  font-size: 2em;
  margin-top: 0.2em;
}
.Income-expenses {
  display: flex;
  justify-content: space-around;
}
.income,
.income h4 {
  color: map-get(v.$colors, "income");
}
.expenses,
.expenses h4 {
  color: map-get(v.$colors, "expenses");;
}
