// este ya esta fuera de uso @import "variables";
@use "reset";
@use "fonts";
@use "variables" as var;
@use "colors";
@use "components";

body {
  background-color: var.$color-fondo-principal;
  color: var.$color-fuente;
  font-family: var.$fuente-principal;
}
h1 {
  color: rgb(128, 30, 0);
  background-color: red;
  font-size: 20pt;
}
