//Fuentes de la aplicación
$main-font: 'Fira Sans', sans-serif;

//Colores
$header-bg-color: #4564ad;
$header-color: #fff; 
$badge-bg-color: #8d2020;

$cart-header-bg-color: #5783a8;
$cart-header-text-color: #fff;
$cart-price-color: #1b488f;
$cart-remove-item-btn-color: rgb(82, 51, 126);
$cart-remove-item-btn-color-hover: #7e3351;
$cart-amount-btn-color: #402760;
$cart-clear-btn-bg: #ffe6ff;
$cart-clear-btn-color: rgb(165, 12, 158);